{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block maincontent %}

    
<h1 style="font-size:60px; text-align: center; ">Candidate</h1>

<button type="button" style=" margin:auto; display:block;">List of Jobs!</button><br /><br /><br />
<button type="button" style=" margin:auto; display:block;">Create Resume</button><br /><br /><br />
<button type="submit" style=" margin:auto; display:block;" >Change Password</button><br /><br /><br />

{% endblock %}
