{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block maincontent %}
{% if user.is_authenticated %}
    <div class="grid-100">
        <h1>Resume</h1>
        <form method="POST" actions="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="save" />
        </form>
    </div>
    {% else %}
    {% endif %}
{% endblock %}
